{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

	<canvas id="map" width="1300" height="600" style="border:1px solid #c3c3c3;">
	</canvas>
	
	<div style="display:none;">
	<img id="pacman" src="{% static 'images/pacman.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="pellet" src="{% static 'images/pellet.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="powerpellet" src="{% static 'images/powerpellet.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="blue_left" src="{% static 'images/blue_left.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="red_left" src="{% static 'images/red_left.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="orange_left" src="{% static 'images/orange_left.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="pink_left" src="{% static 'images/pink_left.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="blue_up" src="{% static 'images/blue_up.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="red_up" src="{% static 'images/red_up.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="orange_up" src="{% static 'images/orange_up.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="pink_up" src="{% static 'images/pink_up.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="blue_right" src="{% static 'images/blue_right.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="red_right" src="{% static 'images/red_right.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="orange_right" src="{% static 'images/orange_right.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="pink_right" src="{% static 'images/pink_right.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="blue_down" src="{% static 'images/blue_down.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="red_down" src="{% static 'images/red_down.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="orange_down" src="{% static 'images/orange_down.png' %}" width="300" height="227">
	</div>
	
	<div style="display:none;">
	<img id="pink_down" src="{% static 'images/pink_down.png' %}" width="300" height="227">
	</div>
	
	<audio id="waka">
		<source src="" type="{% static 'sounds/Pacman_Waka_Waka' %}">
	</audio>
	
	<div style="display:none;">
	<img id="blue" src="{% static 'images/blue.png' %}" width="300" height="227">
	</div>

    <head>
		<style>
				p {
					color: white;
				}
		</style>
	<body style="background-color:black;">
        <title>Game</title>

    </head>
    <body>
			<img src="{% static 'images/logo.png' %}" alt="logo" class="img-responsive center-block" />
			<br>
		
			<div class="row" style="padding-left:2%;">
				<div class="col-sm-2" style="padding-top: 1%">
					<input id="setPac" type="button" value="Select Pacman" style="width:50%">
				</div>
				<div class="col-sm-2">
						<input id="setGhost" type="button" value="Select Ghosts" style="width:50%">
				</div>
				<div class="col-sm-1" style="display:none;">
						<p>Role: </p>
				</div>
				<div class="col-sm-1" style="display:none;">
						<p id="pac_role">No Role</p>
				</div>
			</div>
		
			<br>
		
			
			<div class="row" style="padding-left: 5%;">
				<input id="startGame" type="button" value="Start Game" style="width: 20%">
				<!---
				<div style="padding-left: 2%;">
					<input id="pac_position_input" type="text">
					<input id="pac_position_submit" type="button" value="Send"/>
				</div>
				-->
			</div>
			
	<!--<script type="text/javascript" src="{% static 'js/game.js' %}"></script>-->
	<script>

	var isPac;
	var canvas = document.getElementById("map");
		var ctx = canvas.getContext("2d");
		var i;
		var mazeGrid = [
			"0000000000000000000",
			"0911c111709111c1170",
			"0100100010100010010",
			"0d11e111a1a111e11b0",
			"0100101000001010010",
			"0811b081709160d1160",
			"0000100010100010000",
			"00001091a1a17010000",
			"0000101000001010000",
			"1111e1b0   0d1e1111",
			"0000101000001010000",
			"000010 11111 010000",
			"0000101000001010000",
			"0911e1b17091b1e1170",
			"0100100010100010010",
			"0870d1c1a1a1c1b0960",
			"0010101000001010100",
			"09a1608170916081a70",
			"0100000010100000010",
			"08111111a1a11111160",
			"0000000000000000000",
		];
		ctx.fillStyle = "#2121DE";
		for (i = 0; i < (mazeGrid.length); i++) {
			var o;
			for(o = 0; o < 19; o++) {
				if (mazeGrid[i].charAt(o) == '0'){
					//ctx.fillRect(400+o*25, i*25, 25, 25);
					var img = document.getElementById("pacman");
					
				}
			}
			
		}

		//This is MY STUFF
		var roomName = {{ room_name_json }};
    	document.onkeydown = keyPress;
    	var role = "No Role";
    	var isGameStarted = false;

    	//Starts Game
    	document.querySelector('#startGame').onclick = function(e) {
			sendData(e, "t");
    	    isGameStarted = true;
    	}

    	//Set setPac and setGhost Buttons
    	document.querySelector('#setPac').onclick = function(e) {
    	    role = "p";
			isPac = true;
    	    document.querySelector('#pac_role').innerHTML = role;
    	}

    	document.querySelector('#setGhost').onclick = function() {
    	role = "g";
		isPac = false;
    	document.querySelector('#pac_role').innerHTML = role;
    	}
		

    	var pacSocket = new WebSocket(
    	    'ws://' + window.location.host +
    	'/ws/game/' + roomName + '/');

    	

    	pacSocket.onclose = function(e) {
    	    //print("oh no")
    	    console.error('Chat socket closed unexpectedly');
    	};

    	//document.querySelector('#chat-message-input').focus();
		
		function getNext(message, counter){
			var item = ""
			while((message[counter] != '~') && (counter < message.length)){
				item += message[counter];
				counter++;
			}
			//counter++;
			return [item, counter];
		}


    	//Key is Pressed
    	function keyPress(e) {
    	    e = e || window.event;

        	//sendData(e, e.keyCode);

        	if (e.keyCode == '38') {
        	    // up arrow
        	    sendData(e, "u");
        	}
        	else if (e.keyCode == '40') {
        	    // down arrow
        	    sendData(e, "d");
        	}
        	else if (e.keyCode == '37') {
        	    // left arrow
        	    sendData(e, "l");
        	}
        	else if (e.keyCode == '39') {
        	    // right arrow
        	    sendData(e, "r");
        	}
        	else if (e.keyCode == '90' && role == "g") {
        	    // 1
        	    sendData(e, "1");
        	}
        	else if (e.keyCode == '88' && role == "g") {
        	    // 2
        	    sendData(e, "2");
        	}
        	else if (e.keyCode == '67' && role == "g") {
        	    // 3
        	    sendData(e, "3");
        	}
        	else if (e.keyCode == '86' && role == "g") {
        	    // 4
        	    sendData(e, "4");
        	} 
        	else if (e.keyCode == '13') {
        	    // Enter
        	    //document.querySelector('#pac_position_submit').click();
        	}
    	}	

		pacSocket.onmessage = function(e) {
		
		var data = JSON.parse(e.data);
		var message = data.pac_message;
		//var pacx
		var nupacx = "";
		var xnupacx;

		var nupacy = "";
		var xnupacy;
		var nupacdir = "";
		var xnupacdir;
		var nupacofx = "";
		var nupacofy = "";
		
		var nug1x = "";
		var xnug1x; 
		var nug1y = "";
		var xnug1y;
		var nug1dir = "";
		var xnug1dir;
		var nug1ofx = "";
		var nug1ofy = "";
		
		var nug2x = "";
		var xnug2x;
		var nug2y = "";
		var xnug2y;
		var nug2dir = "";
		var xnug2dir;
		var nug2ofx = "";
		var nug2ofy = "";
		
		var nug3x = "";
		var xnug3x;
		var nug3y = "";
		var xnug3y;
		var nug3dir = "";
		var xnug3dir;
		var nug3ofx = "";
		var nug3ofy = "";

		var nug4x = "";
		var xnug4x;
		var nug4y = "";
		var xnug4y;
		var nug4dir = "";
		var xnug4dir;
		var nug4ofx = "";
		var nug4ofy = "";

		var lpowerup;
		var lpptimer;
		var lpelletsEaten;

		if(message[0] != '$'){
			//sendData(e, "$");
			//return;
		}
		
		
		//console.log(newgs.tpac);
		
		
			if(message[2] == '~'){
			//console.log(message.length);
			var counter = 3;

			temp = getNext(message, counter);
			lpowerup = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			lpptimer = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			lpelletsEaten = temp[0];
			counter = temp[1] + 1;

			while((message[counter] != '~') && (counter < message.length)){
				nupacx += message[counter];
				counter++;
				//console.log(message[i]);
			}
			counter++;
			while((message[counter] != '~') && (counter < message.length)){
				nupacy += message[counter];
				counter++;
			}
			counter++;
			while((message[counter] != '~') && (counter < message.length)){
				nupacdir += message[counter];
				counter++;
			}
			counter++;

			temp = getNext(message, counter);
			nupacofx = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nupacofy = temp[0];
			counter = temp[1] + 1;
			

			while((message[counter] != '~') && (counter < message.length)){
				nug1x += message[counter];
				counter++;
			}
			counter++;
			while((message[counter] != '~') && (counter < message.length)){
				nug1y += message[counter];
				counter++;
			}
			counter++;
			while((message[counter] != '~') && (counter < message.length)){
				nug1dir += message[counter];
				counter++;
			}
			counter++;

			temp = getNext(message, counter);
			nug1ofx = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug1ofy = temp[0];
			counter = temp[1] + 1;



			temp = getNext(message, counter);
			nug2x = temp[0];
			counter = temp[1] + 1; 

			temp = getNext(message, counter);
			nug2y = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug2dir = temp[0];
			counter = temp[1] + 1;			

			temp = getNext(message, counter);
			nug2ofx = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug2ofy = temp[0];
			counter = temp[1] + 1;



			temp = getNext(message, counter);
			nug3x = temp[0];
			counter = temp[1] + 1; 

			temp = getNext(message, counter);
			nug3y = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug3dir = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug3ofx = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug3ofy = temp[0];
			counter = temp[1] + 1;


			temp = getNext(message, counter);
			nug4x = temp[0];
			counter = temp[1] + 1; 

			temp = getNext(message, counter);
			nug4y = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug4dir = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug4ofx = temp[0];
			counter = temp[1] + 1;

			temp = getNext(message, counter);
			nug4ofy = temp[0];
			counter = temp[1] + 1;

			
			if(!isPac){
				xnupacx = parseInt(nupacx, 10);
				xnupacy = parseInt(nupacy, 10);
				xnupacdir = parseInt(nupacdir, 10);
				if(lpowerup === 'true'){
					powerup = true;
				}
				else{
					powerup = false;
				}
				pptimer = parseInt(lpptimer, 10);
				pelletsEaten = parseInt(lpelletsEaten, 10) + 1;

				pacman.x = xnupacx;
				pacman.y = xnupacy;
				pacman.dir = xnupacdir;
				if(pacman.dir == 1){
					pacman.dx = -1;
					pacman.dy = 0;
				}else if(pacman.dir == 2){
					pacman.dx = 0;
					pacman.dy = -1;
				}else if(pacman.dir == 3){
					pacman.dx = 1;
					pacman.dy = 0;
				}else if(pacman.dir == 4){
					pacman.dx = 0;
					pacman.dy = 1;
				}

				xnug1x = parseInt(nug1x, 10);
				xnug1y = parseInt(nug1y, 10);
				xnug1dir = parseInt(nug1dir, 10);

				ghost1.x = xnug1x;
				ghost1.y = xnug1y;
				ghost1.dir = xnug1dir;
				console.log(xnug1dir);
				if(ghost1.dir == 1){
					ghost1.dx = -1;
					ghost1.dy = 0;
				}else if(ghost1.dir == 2){
					ghost1.dx = 0;
					ghost1.dy = -1;
				}else if(ghost1.dir == 3){
					ghost1.dx = 1;
					ghost1.dy = 0;
				}else if(ghost1.dir == 4){
					ghost1.dx = 0;
					ghost1.dy = 1;
				}else if(ghost1.dir == 0){
					ghost1.dx = 0;
					ghost1.dy = 0;
				}

				xnug2x = parseInt(nug2x, 10);
				xnug2y = parseInt(nug2y, 10);
				xnug2dir = parseInt(nug2dir, 10);
				ghost2.x = xnug2x;
				ghost2.y = xnug2y;
				ghost2.dir = xnug2dir;
				console.log(xnug2dir);
				if(ghost2.dir == 1){
					ghost2.dx = -1;
					ghost2.dy = 0;
				}else if(ghost2.dir == 2){
					ghost2.dx = 0;
					ghost2.dy = -1;
				}else if(ghost2.dir == 3){
					ghost2.dx = 1;
					ghost2.dy = 0;
				}else if(ghost2.dir == 4){
					ghost2.dx = 0;
					ghost2.dy = 1;
				}else if(ghost2.dir == 0){
					ghost2.dx = 0;
					ghost2.dy = 0;
				}

				xnug3x = parseInt(nug3x, 10);
				xnug3y = parseInt(nug3y, 10);
				xnug3dir = parseInt(nug3dir, 10);
				ghost3.x = xnug3x;
				ghost3.y = xnug3y;
				ghost3.dir = xnug3dir;
				console.log(xnug3dir);
				if(ghost3.dir == 1){
					ghost3.dx = -1;
					ghost3.dy = 0;
				}else if(ghost3.dir == 2){
					ghost3.dx = 0;
					ghost3.dy = -1;
				}else if(ghost3.dir == 3){
					ghost3.dx = 1;
					ghost3.dy = 0;
				}else if(ghost3.dir == 4){
					ghost3.dx = 0;
					ghost3.dy = 1;
				}else if(ghost3.dir == 0){
					ghost3.dx = 0;
					ghost3.dy = 0;
				}

				xnug4x = parseInt(nug4x, 10);
				xnug4y = parseInt(nug4y, 10);
				xnug4dir = parseInt(nug4dir, 10);
				ghost4.x = xnug4x;
				ghost4.y = xnug4y;
				ghost4.dir = xnug4dir;
				console.log(xnug4dir);
				if(ghost4.dir == 1){
					ghost4.dx = -1;
					ghost4.dy = 0;
				}else if(ghost4.dir == 2){
					ghost4.dx = 0;
					ghost4.dy = -1;
				}else if(ghost4.dir == 3){
					ghost4.dx = 1;
					ghost4.dy = 0;
				}else if(ghost4.dir == 4){
					ghost4.dx = 0;
					ghost4.dy = 1;
				}else if(ghost4.dir == 0){
					ghost4.dx = 0;
					ghost4.dy = 0;
				}

				for(var i=0; i<pelletMazeGrid.length; i++){
					temp = getNext(message, counter);
					pelletMazeGrid[i] = temp[0];
					counter = temp[1] + 1;
				}

				
			}

		}	

		
		
		if(!isPac){
			//Object.assign(text, gamestate);
			//pacgs = newgs;
			//console.log(text);
		}
		
		/*
		var slindex = message.indexOf('/');
		//console.log(message);
		var text="";
		var text2="";
		for (var i = 2; i < slindex; i++) {
			text += message[i];
		}
		for(var i = slindex+1; i < message.length; i++){
			text2 += message[i];
		}
		var combined = parseInt(text, 10);
		//console.log(combined);
		var combined2 = parseInt(text2, 10);
		if(isPac){
			ghostsync = combined2;
		}else{
			pacsync = combined;
		}
		*/
		
		//document.write("In Message:", message)
		//log = document.querySelector('#pac_position').value;
		//console.log(message)
		//console.log(message[0])
		//console.log(message[1])

		if (message[1] == "t") {
			//print("asdfsdf")
			console.log("startgame")
			newgame();
			main();
		}
		else {
			updateMovement(message[0], message[1])
		}
		

		//Add to Logs
		/**if (log != " ") {
			document.querySelector('#pac_position').value = message + "\n" + log;
		}
		else {
			document.querySelector('#pac_position').value = message;
		}
		*/
	};	

    	//Sends data
    	/*document.querySelector('#pac_position_submit').onclick = function(e) {
    	    var messageInputDom = document.querySelector('#pac_position_input');
    	    var message = messageInputDom.value;
    	    //document.write("Out Message:", message)

        	//Sends to other person
        	pacSocket.send(JSON.stringify({
        	    'pac_message': message
        	}));

        	messageInputDom.value = '';
    	};*/

    	//Send Data by Variable
    	function sendData(e, message) {
    	    //document.write(message);
    	    if (role != "No Role") {
    	        message2 = role + message;
				if(isPac){
					pacSocket.send(JSON.stringify({
						'pac_message': message2
						+'~'+powerup+'~'+pptimer+'~'+pelletsEaten
						+'~'+pacman.x+'~'+pacman.y+'~'+pacman.dir+'~'+pacman.ofx+'~'+pacman.ofy
						+'~'+ghost1.x+'~'+ghost1.y+'~'+ghost1.dir+'~'+ghost1.ofx+'~'+ghost1.ofy
						+'~'+ghost2.x+'~'+ghost2.y+'~'+ghost2.dir+'~'+ghost2.ofx+'~'+ghost2.ofy
						+'~'+ghost3.x+'~'+ghost3.y+'~'+ghost3.dir+'~'+ghost3.ofx+'~'+ghost3.ofy
						+'~'+ghost4.x+'~'+ghost4.y+'~'+ghost4.dir+'~'+ghost4.ofx+'~'+ghost4.ofy
						+'~'+pelletMazeGrid[0]
						+'~'+pelletMazeGrid[1]
						+'~'+pelletMazeGrid[2]
						+'~'+pelletMazeGrid[3]
						+'~'+pelletMazeGrid[4]
						+'~'+pelletMazeGrid[5]
						+'~'+pelletMazeGrid[6]
						+'~'+pelletMazeGrid[7]
						+'~'+pelletMazeGrid[8]
						+'~'+pelletMazeGrid[9]
						+'~'+pelletMazeGrid[10]
						+'~'+pelletMazeGrid[11]
						+'~'+pelletMazeGrid[12]
						+'~'+pelletMazeGrid[13]
						+'~'+pelletMazeGrid[14]
						+'~'+pelletMazeGrid[15]
						+'~'+pelletMazeGrid[16]
						+'~'+pelletMazeGrid[17]
						+'~'+pelletMazeGrid[18]
						+'~'+pelletMazeGrid[19]
						+'~'+pelletMazeGrid[20]

        	}));
				}
				else{
					pacSocket.send(JSON.stringify({
					'pac_message': message2
					}));
				}
				}
    	    }
		

		var timer;
	
	var start = false;
	var pacman = new player();
	var ghost1 = new player();
	var ghost2 = new player();
	var ghost3 = new player();
	var ghost4 = new player();
	
	var moving = false;
	var powerup = false;
	var g1collided = false;
	var g2collided = false;
	var g3collided = false;
	var g4collided = false;
	
	var pacsync = 0;
	var ghostsync = 0;
	var pptimer = 0;
	var spawnTimer = 0;
	var g1timer = 0;
	var g2timer = 0;
	var g3timer = 0;
	var g4timer = 0;
	
	var currentGhost = 1;
	var offsetConv = 0;
	var pelletsEaten = 0;
	var powerpelletsEaten = 0;
	
	var g1prev = "red_down";
	var g2prev = "blue_down";
	var g3prev = "orange_down";
	var g4prev = "pink_down";
	
	var lastrecivedkey = 0;
	var pacgs = new gamestate();
	
	var updatetimer = 0;
	var lastTime = 0;
	//newgame();
	//main();

	
	var globalMazeGrid = [
			"0000000000000000000",
			"0911c111709111c1170",
			"0100100010100010010",
			"0d11e111a1a111e11b0",
			"0100101000001010010",
			"0811b081709160d1160",
			"0000100010100010000",
			"00001091a1a17010000",
			"0000101000001010000",
			"q111e1b0   0d1e111p",
			"0000101000001010000",
			"000010d11111b010000",
			"0000101000001010000",
			"0911e1b17091b1e1170",
			"0100100010100010010",
			"0870d1c1a1a1c1b0960",
			"0010101000001010100",
			"09a1608170916081a70",
			"0100000010100000010",
			"08111111a1a11111160",
			"0000000000000000000",
		];
		
	var pelletMazeGrid = [
			"0000000000000000000",
			"0pppppppp0pppppppp0",
			"0b00p000p0p000p00b0",
			"0ppppppppppppppppp0",
			"0p00p0p00000p0p00p0",
			"0pppp0ppp0ppp0pppp0",
			"0000p000x0x000p0000",
			"0000p0xxxxxxx0p0000",
			"0000p0x00000x0p0000",
			"xxxxpxx0xxx0xxpxxxx",
			"0000p0x00000x0p0000",
			"0000p0xxxxxxx0p0000",
			"0000p0x00000x0p0000",
			"0pppppppp0pppppppp0",
			"0p00p000p0p000p00p0",
			"0bp0ppppppppppp0pb0",
			"00p0p0p00000p0p0p00",
			"0pppp0ppp0ppp0pppp0",
			"0p000000p0p000000p0",
			"0ppppppppppppppppp0",
			"0000000000000000000",
		];
	
	var isInWin = false;
	

	
	function colChk(){
		var pacx;
		var pacy;
		var g1x;
		var g1y;
		var g2x;
		var g2y;
		var g3x;
		var g3y;
		var g4x;
		var g4y;
	
		with(pacman){
		pacx=x;
		pacy=y;
		}
		with(ghost1){
		g1x=x;
		g1y=y;
		}
		with(ghost2){
		g2x=x;
		g2y=y;
		}
		with(ghost3){
		g3x=x;
		g3y=y;
		}
		with(ghost4){
		g4x=x;
		g4y=y;
		}
		var win = false;
		if((pacx == g1x) && (pacy == g1y)){
			if(powerup){
				with(ghost1){
					alive = false;
					x=10;
					y=10;
				}
			}else{
			console.log("loss yea");

			//alert("Ghosts win!");
			win = true;
			
			}
			
		}
		if((pacx == g2x) && (pacy == g2y)){
			if(powerup){
				with(ghost2){
					alive = false;
					x=10;
					y=10;
				}
			}else{
			console.log("loss yea");
			//alert("Ghosts win!");
			win = true;
			}
		}
		if((pacx == g3x) && (pacy == g3y)){
			if(powerup){
				with(ghost3){
					alive = false;
					x=10;
					y=10;
				}
			}else{
			console.log("loss yea");
			//alert("Ghosts win!");
			win = true;
			}
		}
		if((pacx == g4x) && (pacy == g4y)){
			if(powerup){
				with(ghost4){
					alive = false;
					x=10;
					y=10;
				}
			}else{
			console.log("loss yea");
			//alert("Ghosts win!");
			win = true;
			
			}
		}
		if (win && !isInWin) {
			isInWin = true;
			if (isPac) {
				window.location.replace("/lose");
			}
			else {
				window.location.replace("/win/" + pelletsEaten + "/" + powerpelletsEaten + "/ghosts");
			}			
		}
	}

	function moveChar(nm, nmchar){

	if(isPac){
				//document.onkeydown = checkKey;
		}else{
			if(currentGhost == 1){
				//document.onkeydown = checkKey;
			}else if(currentGhost == 2){
				//document.onkeydown = checkKey;
			}else if(currentGhost == 3){
				//document.onkeydown = checkKey;
			}else if(currentGhost == 4){
				//document.onkeydown = checkKey;
			}
		}
	
		with(nm) {
			var collidedvar;
						if(nm == ghost1){
							collidedvar = g1collided;
						}else if(nm == ghost2){
							collidedvar = g2collided;
						}else if(nm == ghost3){
							collidedvar = g3collided;
						}else if(nm == ghost4){
							collidedvar = g4collided;
						}
			
			if(offsetConv == 1){
				if (ibuffer == 1) { //left
					if(isClear(1, nm)){
						dir = 1;
						dx = -1;
						dy = 0;
					}
					else if (name != "pacman"){
						if(collidedvar){
							if(isClear(4, nm)){
							ibuffer = 4;
							dir = 4;
							dy = 1;
							dx = 0;
						}
						else if(isClear(2, nm)){
							ibuffer = 2;
							dir = 2;
							dy = -1;
							dx = 0;
						}
						
						else if(isClear(3, nm)){
							ibuffer = 3;
							dir = 3;
							dx = 1;
							dy = 0;
						}
						
					}
					}
				}
				else if (ibuffer == 2) { //up
					if(isClear(2, nm)){
						dir = 2;
						dy = -1;
						dx = 0;
					}
					else if (name != "pacman"){
						if(collidedvar){
						if(isClear(1, nm)){
							ibuffer = 1;
							dir = 1;
							dx = -1;
							dy = 0;
						}
						else if(isClear(3, nm)){
							ibuffer = 3;
							dir = 3;
							dx = 1;
							dy = 0;
						}
						else if(isClear(4, nm)){
							ibuffer = 4;
							dir = 4;
							dy = 1;
							dx = 0;
						}
					}
				}
				}
				else if (ibuffer == 3) { //right
					if(isClear(3, nm)){
						dir = 3;
						dx = 1;
						dy = 0;
					}
					else if (name != "pacman"){
						if(collidedvar){
						if(isClear(4, nm)){
							ibuffer = 4;
							dir = 4;
							dy = 1;
							dx = 0;
						}
						else if(isClear(2, nm)){
							ibuffer = 2;
							dir = 2;
							dy = -1;
							dx = 0;
						}
						
						else if(isClear(1, nm)){
							ibuffer = 2;
							dir = 1;
							dx = -1;
							dy = 0;
						}
					}
					}
				}
				else if (ibuffer == 4) { //down
					if(isClear(4, nm)){
						dir = 4;
						dy = 1;
						dx = 0;
					}
					else if (name != "pacman"){
					if(collidedvar){
							if(isClear(3, nm)){
								ibuffer = 3;
								dir = 3;
								dx = 1;
								dy = 0;
							}
							else if(isClear(1, nm)){
								ibuffer = 1;
								dir = 1;
								dx = -1;
								dy = 0;
							}
							else if(isClear(2, nm)){
								ibuffer = 2;
								dir = 2;
								dy = -1;
								dx = 0;
							}
						}
					}
				}
			}

			g1collided = false;
			g2collided = false;
			g3collided = false;
			g4collided = false;
			if((ghost1.dx == 0) && (ghost1.dy == 0)){
				g1collided = true;
			}
			if((ghost2.dx == 0) && (ghost2.dy == 0)){
				g2collided = true;
			}
			if((ghost3.dx == 0) && (ghost3.dy == 0)){
				g3collided = true;
			}
			if((ghost4.dx == 0) && (ghost4.dy == 0)){
				g4collided = true;
			}
			
			drawMap();

			var frames = 26; 
			var d = new Date();
			var speed = 100/1000;
			time = d.getMilliseconds();
			if(time < lastTime){
				time += 1000;
			}
			if(lastTime === 0){
				lastTime = time;
				return;
			}
			var dt = time - lastTime;

			if(moving){
				if(offsetConv > frames){
					oldofx = ofx;
					oldofy = ofy;
				}
				//console.log(nmchar);
				switch(dx) {
				case 1:
					var mazeI = mazeGrid[y].charAt(x);
					if(mazeI == '0'){
						dir = 0;
						dx = 0;
						dy = 0;
					}
					break;
				case -1:
					var mazeI = mazeGrid[y].charAt(x-2);
					if(mazeI == '0'){
						dir = 0;
						dx = 0;
						dy = 0;
					}
					break;
				}
				switch(dy) {
					case 1:
						var mazeY = globalMazeGrid[y+1].charAt(x-1);
						if(mazeY == '0'){
							dir = 0;
							dx = 0;
							dy = 0;
						}
						break;
					case -1:
						var mazeY = mazeGrid[y-1].charAt(x-1);
						if(mazeY == '0'){
							dir = 0;
							dx = 0;
							dy = 0;
						}
						break;
						// not supposed to happen
				}

				dd = speed*dt;
				ofx += dx*dd;
				ofy += dy*dd;
				
				console.log('x');
				console.log(ofx);
				console.log('y');
				console.log(ofy);

				if(dx == 1){
					x = Math.floor(dx/26);
				}
				else {
					x = Math.ceil(dx/26); 
				}
				if(dy == 1){
					y = Math.floor(dy/26);
				}
				else {
					y = Math.ceil(dy/26);
				}

				if(offsetConv > frames){
					telePac(x, y, nm);
				}

				if(time >= 1000){
					lastTime = time - 1000;
				}
				else{
					lastTime = time;
				}
					
			}

		}
		
	}
	

	function teleport(user, entr){
		with(user){
			if (((dir == 1) && (entr == 'q')) || (x < 0)){
				x = 19;
				telePac(x, y, user);
			}
			if (((dir == 3) && (entr == 'p')) || (x > 20)){
				x = 1;
				telePac(x, y, user);
			}
		}
	}
	
	function isClear(newDir, nm){
		var isClear = true;
		with(nm){
		switch(newDir) {
				case 1:
					var mazeI = mazeGrid[y].charAt(x-2);
					if(mazeI == '0'){
						isClear = false;
					}
					else{
						isClear = true;
					}
					break;
				case 2:
					var mazeI = mazeGrid[y-1].charAt(x-1);
					if(mazeI == '0'){
						isClear = false;
					}
					else{
						isClear = true;
					}
					break;
				case 3:
					var mazeI = mazeGrid[y].charAt(x);
					if(mazeI == '0'){
						isClear = false;
					}
					else{
						isClear = true;
					}
					break;
				case 4:
					var mazeI = mazeGrid[y+1].charAt(x-1);
					if(mazeI == '0'){
						isClear = false;
					}
					else{
						isClear = true;
					}
					break;
			}
		}
		return isClear;
	}
	
	function telePac (row, col, nm) {
		with(nm){

			ofx = 374+(26*x)+13;
			ofy = (26*(y))+13;
			/*
			switch(dir) {
				case 1:
					ofx = 374+(26*x)+13;
					break;
				case 2:
					ofy = (26*(y))+13;
					break;
				case 3:
					ofx = 374+(26*x)+13;
					break;
				case 4:
					ofy = (26*(y))+13;
					break;
		}
		*/
		
		//drawCharSpec(ofx, ofy, nm);
		//drawChar(x, y, nm);
		}
	}
	
	function drawChar (row, col, nm){
		drawSprite(374+(26*row), (26*col), nm);
	}
	
	function drawCharSpec (x, y, nm){
		drawSprite(x-13, y-13, nm);
	}
	
	function drawSprite(x, y, nm){
		var canvas = document.getElementById("map");
		var ctx = canvas.getContext("2d");
		var img = document.getElementById(nm);
		

		ctx.drawImage(img, x, y);

	}
	
	function drawTile(x,y){
		this.context.fillRect(x * this.tileSize, y * this.tileSize,
			this.tileSize, this.tileSize);
	}
	
	function drawMap(){
		var canvas = document.getElementById("map");
		var ctx = canvas.getContext("2d");
		var i;
		var mazeGrid = [
			"0000000000000000000",
			"0911c111709111c1170",
			"0100100010100010010",
			"0d11e111a1a111e11b0",
			"0100101000001010010",
			"0811b081709160d1160",
			"0000100010100010000",
			"00001091a1a17010000",
			"0000101000001010000",
			"q111e1b0   0d1e111p",
			"0000101000001010000",
			"000010d11111b010000",
			"0000101000001010000",
			"0911e1b17091b1e1170",
			"0100100010100010010",
			"0870d1c1a1a1c1b0960",
			"0010101000001010100",
			"09a1608170916081a70",
			"0100000010100000010",
			"08111111a1a11111160",
			"0000000000000000000",
		];
		
		for (i = 0; i < (mazeGrid.length); i++) {
			var o;
			for(o = 0; o < 19; o++) {
				var mazeI = mazeGrid[i].charAt(o);
				var pmazeI = pelletMazeGrid[i].charAt(o);
				if (mazeI == '0'){
					ctx.fillStyle = "#2121DE";
					ctx.fillRect(400+o*26, i*26, 26, 26);
				}
				else if ((mazeI == '1') || (mazeI == '9') || (mazeI == '8') || (mazeI == '6') || (mazeI == '7') || (mazeI == 'a') || (mazeI == 'p') || (mazeI == 'q') || 
				(mazeI == 'b') || (mazeI == 'c') || (mazeI == 'd') || (mazeI == 'e')){
					ctx.fillStyle = "#000000";
					ctx.fillRect(400+o*26, i*26, 26, 26);
				}
				if(pmazeI == 'p'){
					var img = document.getElementById("pellet");
					ctx.drawImage(img, 400+o*26, i*26);		
				}
				else if(pmazeI == 'b'){
					var img = document.getElementById("powerpellet");
					ctx.drawImage(img, 400+o*26, i*26);		
				}
				
				
			}
			
			
		}
	}
	
	function newgame(){
		start = true;
		drawMap();
		resetPac();
		resetGhost(ghost1, "red_left");
		resetGhost(ghost2, "blue_left");
		resetGhost(ghost3, "orange_left");
		resetGhost(ghost4, "pink_left");
		moving = true;
		pelletsEaten = 0;
		spawnTimer = 0;
	}	
	
	function resetPac() {
		with(pacman){
			name = "pacman";
			drawChar(10, 11, "pacman");
			x = 10; //647
			y = 11; //299
			dx = 0;
			dy = 0;
			ofx = 647;
			oldofx = 647;
			ofy = 299;
			oldofy = 299;
		}
	}
	function resetGhost(nm, nm2){
		with(nm){
			name = "ghost";
			drawChar(10, 11, nm2);
			x = 10; //647
			y = 7; //299
			dx = 0;
			dy = 0;
			ofx = 647;
			oldofx = 647;
			ofy = 195;
			oldofy = 195;
		}
	}
		
	function gamestate() {
			this.tpac = new player;
			this.tg1 = new player;
			this.tg2 = new player;
			this.tg3 = new player;
			this.tg4 = new player;
			this.tpellets = pelletMazeGrid;
			this.tpowerup = false;
			this.tg1collided = false;
			this.tg2collided = false;
			this.tg3collided = false;
			this.tg4collided = false;
			
			this.tpptimer = 0;
			this.tg1timer = 0;
			this.tg2timer = 0;
			this.tg3timer = 0;
			this.tg4timer = 0;
			
			this.tcurrentGhost = 1;
			this.toffsetConv = 0;
			this.tpelletsEaten = 0;
			this.tpowerpelletsEaten = 0;
			
			var tg1prev = "red_down";
			var tg2prev = "blue_down";
			var tg3prev = "orange_down";
			var tg4prev = "pink_down";
	}
	
	function updategs(gs){
		with(gs){
		tpac = pacman;
		tg1 = ghost1;
		tg2 = ghost2;
		tg3 = ghost3;
		tg4 = ghost4;
		tpellets = pelletMazeGrid;
		tpowerup = powerup;
		tg1collided = g1collided;
		tg2collided = g2collided;
		tg3collided = g3collided;
		tg4collided = g4collided;
		tpptimer = pptimer;
		tg1timer = g1timer;
		tg2timer = g2timer;
		tg3timer = g3timer;
		tg4timer = g4timer;
		
		tcurrentGhost = currentGhost;
		toffsetConv = offsetConv;
		tpelletsEaten = pelletsEaten;
		tpowerpelletsEaten = powerpelletsEaten;
		tg1prev = g1prev;
		tg2prev = g2prev;
		tg3prev = g3prev;
		tg4prev = g4prev;
		
	}
	}
	
	function updaterealgs(gs){
		with(gs){
		pacman = tpac;
		ghost1 = tg1;
		ghost2 = tg2;
		ghost3 = tg3;
		ghost4 = tg4;
		pelletMazeGrid = tpellets;
		powerup = tpowerup;
		g1collided = tg1collided;
		g2collided = tg2collided;
		g3collided = tg3collided;
		g4collided = tg4collided;
		pptimer = tpptimer;
		g1timer = tg1timer;
		g2timer = tg2timer;
		g3timer = tg3timer;
		g4timer = tg4timer;
		
		currentGhost = tcurrentGhost;
		offsetConv = toffsetConv;
		pelletsEaten = tpelletsEaten;
		powerpelletsEaten = tpowerpelletsEaten;
		g1prev = tg1prev;
		g2prev = tg2prev;
		g3prev = tg3prev;
		g4prev = tg4prev;
		
	}
	}
	
	function player() {
			this.name;
			this.x = 0;
			this.y = 0;
			this.dir = 0;
			this.dx = 0;
			this.dy = 0;
			this.ofx = 0;
			this.ofy = 0;
			this.oldofx = 0;
			this.oldofy = 0;
			this.alive = true;
			this.ibuffer = 0;
	}
	
	/**function checkKey(e) {
		e = e || window.event;
		var pname;
		var pnameChar;
		if(isPac){
				pname = pacman;
				pnameChar = "pacman";
			}else{
				if(currentGhost == 1){
					pname = ghost1;
					pnameChar = "red_left";
				}else if(currentGhost == 2){
					pname = ghost2;
					pnameChar = "ghost2";
				}else if(currentGhost == 3){
					pname = ghost3;
					pnameChar = "ghost3";
				}else if(currentGhost == 4){
					pname = ghost4;
					pnameChar = "ghost4";
				}
			}
		
		
		with(pname){
			if (e.keyCode == '37') { //left
				ibuffer = 1;
			}
			else if (e.keyCode == '38') { //up
				ibuffer = 2;
			}
			else if (e.keyCode == '39') { //right
				ibuffer = 3;
			}
			else if (e.keyCode == '40') { //down
				ibuffer = 4;
			}
			
			if(!isPac){
				if(e.keyCode == '90') { //z
					currentGhost = 1;
				}
				else if(e.keyCode == '88') { //x
					currentGhost = 2;
				}
				else if(e.keyCode == '67') { //c
					currentGhost = 3;
				}
				else if(e.keyCode == '86') { //v
					currentGhost = 4;
				}
			}
		}
		
	}
	*/

	function updateMovement(role, key) {
		if (role == 'p') {
			pname = pacman;
			var pnameChar = "pacman"
		}
		else if (role == 'g') {
			if(currentGhost == 1){
				pname = ghost1;
				pnameChar = "red_left";
			}else if(currentGhost == 2){
				pname = ghost2;
				pnameChar = "ghost2";
			}else if(currentGhost == 3){
				pname = ghost3;
				pnameChar = "ghost3";
			}else if(currentGhost == 4){
				pname = ghost4;
				pnameChar = "ghost4";
			}
		}

		with(pname){
			//console.log(key);
			if (key == 'l') { //left
				lastrecivedkey = '1';
				ibuffer = 1;
			}
			else if (key == 'u') { //up
				lastrecivedkey = 'u';
				ibuffer = 2;
			}
			else if (key == 'r') { //right
				lastrecivedkey = 'r';
				ibuffer = 3;
			}
			else if (key == 'd') { //down
				lastrecivedkey = 'd';
				ibuffer = 4;
			}
			
			if(role == 'g'){
				if(key == '1') { //z
					currentGhost = 1;
				}
				else if(key == '2') { //x
					currentGhost = 2;
				}
				else if(key == '3') { //c
					currentGhost = 3;
				}
				else if(key == '4') { //v
					currentGhost = 4;
				}
			}
		}		
	}
	
	function main(e){

		if(timer) clearTimeout(timer);
		if(isPac){
			//updategs(pacgs);
		}
		
		//colchk
		//console.log(ghost1.ibuffer);
		
		if(spawnTimer < 300){	
			ghost2.alive = false;
		}
		else if(spawnTimer == 301){
			ghost2.alive = true;
		}
		if(spawnTimer < 600){
			ghost3.alive = false;
		}
		else if(spawnTimer == 301){
			ghost3.alive = true;
		}
		if(spawnTimer < 900){
			ghost4.alive = false;
		}
		else if(spawnTimer == 301){
			ghost4.alive = true;
		}
		
		with(pacman){
				if((y == 9) &&(x <=2)){
					teleport(pacman, 'q');
				}
				else if((y == 9) && (x >= 18)){
					teleport(pacman, 'p');
				}
				
			}
			with(ghost1){
				if((y == 9) &&(x <=2)){
					teleport(ghost1, 'q');
				}
				else if((y == 9) && (x >= 18)){
					teleport(ghost1, 'p');
				}
				
			}
			with(ghost2){
				if((y == 9) &&(x <=2)){
					teleport(ghost2, 'q');
				}
				else if((y == 9) && (x >= 18)){
					teleport(ghost2, 'p');
				}
			}
			with(ghost3){
				if((y == 9) &&(x <=2)){
					teleport(ghost3, 'q');
				}
				else if((y == 9) && (x >= 18)){
					teleport(ghost3, 'p');
				}
			}
			with(ghost4){
				if((y == 9) &&(x <=2)){
					teleport(ghost4, 'q');
				}
				else if((y == 9) && (x >= 18)){
					teleport(ghost4, 'p');
				}
			}
			
			//console.log(ghost1.x);
		
			var pchar;
			if(isPac){
				pchar = pacman;
			}else{
				if(currentGhost == 1){
					pchar = ghost1;
				}else if(currentGhost == 2){
					pchar = ghost2;
				}else if(currentGhost == 3){
					pchar = ghost3;
				}else if(currentGhost == 4){
					pchar = ghost4;
				}
			}
			
			moveChar(pacman, "pacman");
			colChk();
			if(ghost1.alive){
				moveChar(ghost1, "ghost1");
			}else{
				moveChar(ghost1, "blue");
			}
			if(ghost2.alive){
				moveChar(ghost2, "ghost2");
			}else{
				moveChar(ghost2, "blue");
			}
			if(ghost3.alive){
				moveChar(ghost3, "ghost3");
			}else{
				moveChar(ghost3, "blue");
			}
			if(ghost4.alive){
				moveChar(ghost4, "ghost4");
			}else{
				moveChar(ghost4, "blue");
			}
			
			with(pacman){
				drawCharSpec(ofx, ofy, "pacman");
			}
			
			with(ghost1){
				if(alive){
				if(powerup){
						drawCharSpec(ofx, ofy, "blue");
					}
					else{
						if(dir == 1){
							drawCharSpec(ofx, ofy, "red_left");
							g1prev = "red_left";
						}else if(dir == 2){
							drawCharSpec(ofx, ofy, "red_up");
							g1prev = "red_up";
						}else if(dir == 3){
							drawCharSpec(ofx, ofy, "red_right");
							g1prev = "red_right";
						}else if(dir == 4){
							drawCharSpec(ofx, ofy, "red_down");
							g1prev = "red_down";
						}else{
							drawCharSpec(ofx, ofy, g1prev);
						}
					}
				}
			}
			with(ghost2){
				if(alive){
					if(powerup){
						drawCharSpec(ofx, ofy, "blue");
					}
					else{
						if(dir == 1){
							drawCharSpec(ofx, ofy, "blue_left");
							g2prev = "blue_left";
						}else if(dir == 2){
							drawCharSpec(ofx, ofy, "blue_up");
							g2prev = "blue_up";
						}else if(dir == 3){
							drawCharSpec(ofx, ofy, "blue_right");
							g2prev = "blue_right";
						}else if(dir == 4){
							drawCharSpec(ofx, ofy, "blue_down");
							g2prev = "blue_down";
						}else{
							drawCharSpec(ofx, ofy, g2prev);
						}
					}
				}
			}
			with(ghost3){
				if(alive){
					if(powerup){
						drawCharSpec(ofx, ofy, "blue");
					}
					else{
						if(dir == 1){
							drawCharSpec(ofx, ofy, "orange_left");
							g3prev = "orange_left";
						}else if(dir == 2){
							drawCharSpec(ofx, ofy, "orange_up");
							g3prev = "orange_up";
						}else if(dir == 3){
							drawCharSpec(ofx, ofy, "orange_right");
							g3prev = "orange_right";
						}else if(dir == 4){
							drawCharSpec(ofx, ofy, "orange_down");
							g3prev = "orange_down";
						}else{
							drawCharSpec(ofx, ofy, g3prev);
						}
					}
				}
			}
			with(ghost4){
				if(alive){
					if(powerup){
						drawCharSpec(ofx, ofy, "blue");
					}
					else{
						if(dir == 1){
							drawCharSpec(ofx, ofy, "pink_left");
							g4prev = "pink_left";
						}else if(dir == 2){
							drawCharSpec(ofx, ofy, "pink_up");
							g4prev = "pink_up";
						}else if(dir == 3){
							drawCharSpec(ofx, ofy, "pink_right");
							g4prev = "pink_right";
						}else if(dir == 4){
							drawCharSpec(ofx, ofy, "pink_down");
							g4prev = "pink_down";
						}else{
							drawCharSpec(ofx, ofy, g4prev);
						}
					}
				}
			}
			
		with(pacman){
			if(offsetConv > 26){
				//telePac(x, y, pchar);
				offsetConv = 0;
				var mazeI = globalMazeGrid[y].charAt(x-1);
				var pmazeI = pelletMazeGrid[y].charAt(x-1);
					if (pmazeI == 'p'){
						pelletsEaten++;
						pelletMazeGrid[y] = pelletMazeGrid[y].substr(0, x-1) + 'x' + pelletMazeGrid[y].substr(x);
					}
					else if(pmazeI == 'b'){
						pelletsEaten++;
						powerpelletsEaten++;
						pelletMazeGrid[y] = pelletMazeGrid[y].substr(0, x-1) + 'x' + pelletMazeGrid[y].substr(x);
						powerup = true;	
					}
				/*
				if(mazeI == 'q'){
					teleport(nm, 'q');
				}
				else if(mazeI == 'p'){
					teleport(nm, 'p');
				}
				*/
				//if((y == 9) &&(x <=3)){
				//	teleport(pchar, 'q');
				//}
				//else if((y == 9) && (x >= 17)){
				//	teleport(pchar, 'p');
				//}
				
			}
			/*
			var d = new Date();
			var speed = 100/1000;
			time = d.getMilliseconds();
			if(time < lastTime){
				time += 1000;
			}

			if(lastTime === 0){
				lastTime = time;
			}
			*/
			else{
				//telePac(x, y, nm);
				offsetConv++;
				/*
				offsetConv += speed * (time-lastTime);
				console.log("time");
				console.log(time);
				console.log("lasttime");
				console.log(lastTime);
				console.log("off");
				console.log(offsetConv);
				if(time >= 1000){
					lastTime = time - 1000;
				}
				else{
					lastTime = time;
				}
				*/
			}
		}
			
			
			if(pelletsEaten == 151){	//Victory condition
				console.log("victory!");
				//alert("Pacman Wins!");
				if (!isInWin) {
					isInWin = true;
					if (!isPac) {
						window.location.href = "/lose";
					}
					else {
						window.location.href = "/win/" + pelletsEaten + "/" + powerpelletsEaten + "/pacman";
					}
				}
				return;
			}
			//drawChar(x, y, nmchar);
			
			
			if(pptimer > 600){
				powerup = false;
				pptimer = 0;
			}
			if(powerup){
				pptimer++;
			}
			if(!ghost1.alive){
				g1timer++;
			}
			if(!ghost2.alive){
				g2timer++;
			}
			if(!ghost3.alive){
				g3timer++;
			}
			if(!ghost4.alive){
				g4timer++;
			}
			if(g1timer == 300){
				g1timer = 0;
				ghost1.alive = true;
				resetGhost(ghost1, "red_left");
			}
			if(g2timer == 300){
				g2timer = 0;
				ghost2.alive = true;
				resetGhost(ghost2, "blue_left");
			}
			if(g3timer == 300){
				g3timer = 0;
				ghost3.alive = true;
				resetGhost(ghost3, "orange_left");
			}
			if(g4timer == 300){
				g4timer = 0;
				ghost4.alive = true;
				resetGhost(ghost4, "pink_left");
			}
			
			spawnTimer++;
			pacsync++;
			ghostsync++;
			
			/*
			do {	
				pacSocket.onmessage = function(e) {
					var data = JSON.parse(e.data);
					var message = data['pac_message'];
					var text ="";
					for (var i = 2; i < message.length; i++) {
						text += message[i];
					}
					var combined = parseInt(text, 10);
					console.log(combined);
					pacsync = combined;
					
					
				};
			}
			while(ghostsync != pacsync);
			*/
			
			//if(isPac){
			//	chkSyncPac(pacsync, ghostsync);
			//}
			//else{
			//	chkSyncPac(pacsync, ghostsync);
			//}
			
			//console.log(pacsync);
			//console.log(ghostsync);

		//if (gameOn) {
			pacTimer= setTimeout("main()", 17);
		//}

			if(isPac){
				if(updatetimer > 160){
					sendData(e,'$');
					updatetimer = 0;
				}
			}
			updatetimer++;
		
	if(isPac){
		//updategs(pacgs);
	}
	else{
		//updaterealgs(pacgs);
	}
	}
	/*
	function chkSyncPac(pacsync, ghostsync){
		if(pacsync > ghostsync){
			pacTimer = setTimeout("chkSyncPac()");
		}
		else{
			return;
		}
	}
	
	function chkSyncGst(pacsync, ghostsync){
		if(pacsync < ghostsync){
			pagTimer = setTimeout("chkSyncGst()");
		}
		else{
			return;
		}
	}
	*/
	
	
	</script>
        
    </body>

</html>
