{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
	<body style="background-color:black;">
        <title>Pac Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
	<img src="{% static 'images/logo.png' %}" alt="logo" class="img-responsive center-block" />
    <body>
        <p style="color:white;">Welcome to PAC-VS! The worlds premiere online Pac-Man VS experience.</p>
		<p style="color:white;">To play, click on the button below to create a lobby.</p>
        
        <form name="createLobby" id="inputs" method="GET">
                <button class="form-control" name="createLobby" id="createLobby" type="submit" value="createLobby">Create Lobby</button>
            <div class="form-group">
                <input class="form-control" name="lobbyName" id="lobbyName" type="text">
            </div>
                <button class="form-control" name="joinLobby" id="joinLobby" type="submit" value="joinLobby">Join Lobby</button>
        </form>
    </body>
    <!---
    <script>
        //Create Lobby
        document.querySelector('#createLobby').onclick = function(e) {
            var link = document.querySelector('#lobbyName').value;
            console.log(link.length);
            if (link.length > 0) {
                window.location.href = "/pac_test/" + link;
            }
            else {
                window.location.href = "/";
            }
        }

        //Join Lobby
        document.querySelector('#joinLobby').onclick = function(e) {
            var link = document.querySelector('#lobbyName').value;
            console.log(link.length);
            if (link.length > 0) {
                window.location.href = "/pac_test/" + link;
            }
            else {
                window.location.href = "/";
            }
        }
        
    </script>
    -->
</html>